language: python
sudo: false
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"
  - "nightly"
# command to install dependencies
install:
  - "pip install flake8 mock pytest pytest-cov python-coveralls"
  - "pip install -e ."
# command to run tests
script:
  - "flake8 --ignore=E501 ."
  - "py.test --cov=prettyexc -vv tests/"
after_success:
  - "coveralls"
  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"
matrix:
  allow_failures:
    - python: nightly
